<div class="row">
  <%= render layout: 'landing/info_block', locals: {title: 'Learn'} do %>
    <%= @content.learn_text %>
  <% end %>

  <%= render layout: 'landing/info_block', locals: {title: 'Call'} do %>
    <%= @content.call_text %>
  <% end %>

  <%= render layout: 'landing/info_block', locals: {title: 'Listen'} do %>
    <%= @content.listen_text %>
    <% if @content.message_from.present? %>
      <hr>
      <h6><%= @content.message_from %></h6>
    <% end %>
    <% if @content.message_url.present? %>
      <audio controls>
        <source src="<%= @content.message_url %>" type="audio/mpeg">
      </audio>
    <% end %>
  <% end %>
</div>

<div class="row">
  <div class="small-12 columns"><hr></div>
</div>

<div class="row">
  <%= render layout: 'landing/info_block', locals: {html_class: 'recent-messages'} do %>
    <h3>Recent Messages</h3>
    <% @most_recent_messages.each do |answer| %>
      <%= render partial: 'landing/answer', locals: {answer: answer} %>
    <% end %>
  <% end %>

  <%= render partial: 'map' %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
   var locationGeoJson = <%= render(partial: 'locations/feature_collection', locals: {locations: Location.all}).html_safe %>;

   map = L.map('cityvoice-map', {
     center: [41.66060124302088, -86.26688003540039],
     zoom: 12
   }); 
   map.attributionControl.addAttribution('<%= Leaflet.attribution.html_safe %>');     

   L.tileLayer('<%= Leaflet.tile_layer %>').addTo(map);

   L.geoJson(locationGeoJson, {
     onEachFeature: function (feature, layer) {
       layer.bindPopup(['<a href="', feature.properties.url, '">', feature.properties.name, '</a>'].join(""));
     }
   }).addTo(map);
  });
</script>
